/* ==========================================
   TABLE
========================================== */

.table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

    background:#FFF;

}

.table thead{

    background:#F8FAFC;

}

.table thead th{

    padding:16px 18px;

    text-align:left;

    font-size:13px;

    text-transform:uppercase;

    letter-spacing:.4px;

    color:#64748B;

    border-bottom:1px solid #E2E8F0;

}

.table tbody td{

    padding:18px;

    border-bottom:1px solid #EDF2F7;

    vertical-align:middle;

}

.table tbody tr{

    transition:.20s;

}

.table tbody tr:hover{

    background:#F8FAFC;

}

.table tbody tr:last-child td{

    border-bottom:none;

}